

div {
    border: solid 1px black;
    margin: 1rem 0rem;
}

body {
    display: flex;
    flex-direction: row;
}

.left-column {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    
}

.right-column {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

form {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
}
