
div {
    border: solid 1px black;
    margin: 1rem 0rem;
    width: 100%;
}

#palette {

}

section {
    display: flex;
    flex-direction: row;
    margin: 2% 3%;
    border: solid 1px black;
}

.left-column {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    text-align: center;
    
}

.right-column {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    text-align: center;
}

form {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
}
