
#grid {
    display: flex;
}

#grid div {
    display: flexbox;
    border: black solid 1px;
    align-items: center;
    height: 1rem;
}

.cols {
    width: 1rem;
}
/* tr {
    border: solid 1px black;
    margin: 0;
    width: 1rem;
    height: 1rem;
} */

/* td {
    border: solid 1px black;
    margin: 0;
    width: 1rem;
    height: 1rem;
} */

#palette {
    display: flex;
    flex-flow: row wrap;
    padding: 1rem;
    margin: 2% 5%;
    
}

#palette > div {
    width: 1rem;
    height: 1rem;
    border: solid 1px black;
}

section {
    display: flex;
    flex-direction: row;
    margin: 1% 1%;
    height: calc(100vh - 100px)
}

.left-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    border: solid 1px black;
    text-align: center;
    
}

.right-column {
    display: flex;
    flex: 2;
    flex-direction: column;
    border: solid 1px black;
    text-align: center;
}

form {
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
}
